Repository jonahisadev/cubewithme: changes, and which CircleCI parameters are due for each by the changed paths.
All: deploy-web, deploy-api, deploy-ws

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.3

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/deploy.yml
          mapping: |
            web/.* deploy-web true
            api/.* deploy-api true
            ws/.* deploy-ws true

Final deployment code + web fixes
  .circleci/deploy.yml
  web/pages/user/[username].js
Due: deploy-web

Updated README.md
  README.md
Due: none

Fixed API refresh + cookies
  api/package.json
  api/src/routes/auth.ts
  web/pages/rooms/[id].js
Due: deploy-web, deploy-api

Fixed password protected rooms + removed vercel
  web/package.json
  web/pages/rooms/[id].js
  web/yarn.lock
Due: deploy-web

Hide entire chat container when closed
  web/components/ChatButton.js
Due: deploy-web

Fixed mobile chat overlay
  web/components/ChatButton.js
Due: deploy-web

Only run deployments on main branch
  .circleci/config.yml
Due: none

GitHub Workflows
  .github/workflows/main.yml
Due: none

Remove workflow
  .github/workflows/main.yml
Due: none

Ensure player is always first on their screen
  web/pages/rooms/[id].js
Due: deploy-web

Add ko-fi link
  README.md
Due: none

Reset ws_id when logging in
  web/pages/login.js
Due: deploy-web

When admin leaves, select new admin
  web/pages/rooms/[id].js
  ws/src/lib/room.ts
  ws/src/lib/types.d.ts
Due: deploy-web, deploy-ws

Show a disconnect screen instead of a toast
  web/pages/rooms/[id].js
  ws/src/lib/room.ts
Due: deploy-web, deploy-ws

Removed unnecessary Navbar class
  web/components/Navbar.js
Due: deploy-web

Clear time when manually editing if current time is zero
  web/pages/rooms/[id].js
Due: deploy-web

Fixed averages including sit outs
  web/components/RoomPlayer.js
Due: deploy-web

If no dot is added to manual entry, add one
  web/pages/rooms/[id].js
Due: deploy-web
